extends layout

block content
  h1 Welcome to the 2018 NFL Season
  p.lead May the pick gods shine upon you
  hr
  .row
    .col-md-6
      h2 Rules
      p  Rules are very simple. You have to pick 1 team to LOSE each week. That's it, that's the rule. You can pick the Browns to lose EVERY SINGLE WEEK if you want, but be warned, they tend pull off a miracle here and there.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Payment
      p Each pick can be purchased for $25 per pick. There is no limit to the amount of picks you can purchase.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Questions?
      p Are these simple rules confusing? Ask us a question? If its stupid we probably wont answer it!
      p
        a.btn.btn-raised(href='#', role='button') Throw us a line »
    .col-md-6