extends layout
include partials/schedules

block content
    h1 NFL TEAMS
    hr
    .row
        .col-md-6
            form(action='/teams/pick' method="post")
                label(for='teams') Teams
                select(name='dropDown', id='teams' )
                    each team in teams
                        option=team
                    input(type='hidden', name='_csrf', value=_csrf)
                    input(type='submit', value='Submit' class="btn btn-danger dropdown-toggle")
            hr
        .col-md-6
            +schedule-include(schedule)