extends layout

block content
    h1 NFL TEAMS
    hr
    .row
        .col-md-6
            form(action='/teams/pick' method="post")
                label(for='teams') Teams
                select(name='dropDown', id='teams')
                    each team in teams
                        option=team
                    input(type='submit', value='Submit')